.card {
  overflow: hidden;
  // max-width: 350px;
  .col-4 {
    padding-left: 1.2rem;
  }
  .col-md-4::before {
    position: absolute;
    content: "";
    z-index: 1;
    width: 6rem;
    height: 17rem;
    background-color: mix(black, $primary, 30%);
    transform: translate(-5rem, -5rem) rotate(27deg);
    overflow: hidden;
  }
}

.card__icon {
  position: absolute;
  display: grid;
  place-items: center;
  height: 100%;
  z-index: 999;
  #{&}__container {
    background-color: mix(white, $primary, 80%);
    padding: 1rem;
    border-radius: 50%;
  }
  #{&}__logo {
    font-size: 3rem;
    color: $primary;
  }
}
// $bg-img: url(./test1.png);
.card__text {
  color: mix(black, $primary, 50%);
  text-transform: capitalize;
}
.form-switch .form-check-input {
  width: 6em;
  height: 2rem;
  margin-left: -2.5em;
  background-image: url("../../../public/images/test1.1.png");
  // background-image: var(--bs-form-switch-bg);
  // background-image: url(https://img.freepik.com/premium-vector/locked-icon-isolated-white-background-vector-illustration_230920-1643.jpg?size=626&ext=jpg);
  border-radius: 0em;
  // border-top-right-radius: 0.5rem;
  // border-bottom-right-radius: 0.5rem;
  transition: background-position 0.15s ease-in-out;
}

.form-check-input {
  background-color: $secondary;
}

.btn-light {
  // --bs-btn-color: #000;
  --bs-btn-bg: #ffa3af;
  // --bs-btn-border-color: #f8f9fa;
  // --bs-btn-hover-color: #000;
  // --bs-btn-hover-bg: #d3d4d5;
  // --bs-btn-hover-border-color: #c6c7c8;
  // --bs-btn-focus-shadow-rgb: 211, 212, 213;
  // --bs-btn-active-color: #000;
  // --bs-btn-active-bg: #c6c7c8;
  // --bs-btn-active-border-color: #babbbc;
  // --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  // --bs-btn-disabled-color: #000;
  // --bs-btn-disabled-bg: #f8f9fa;
  // --bs-btn-disabled-border-color: #f8f9fa;
}

.app_footer {
  margin-top: 2rem;
  display: block;
  width: 100%;
  height: 0.5rem;
}

//---------------------------- this below you may want to delete---------------------------------------

// class="switch btn off btn-light"
// class="switch btn on btn-primary"

// .switch.btn.btn-light,
// .switch.btn.btn-outline-light {
//   border-color: rgba(0, 0, 0, 0.15);
// }
// .switch {
//   position: relative;
//   overflow: hidden;
// }
// .switch-on.btn {
//   padding-right: 1.5rem;
// }
// .switch-on {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 50%;
//   margin: 0;
//   border: 0;
//   border-radius: 0;
// }
// .switch-off {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 50%;
//     right: 0;
//     margin: 0;
//     border: 0;
//     border-radius: 0;
//     box-shadow: none;
// }
// .switch-off.btn {
//     padding-left: 1.5rem;
// }

// .switch.off .switch-group {
//     left: -100%;
// }
// .switch-handle {
//     position: relative;
//     margin: 0 auto;
//     padding-top: 0px;
//     padding-bottom: 0px;
//     height: 100%;
//     width: 0px;
//     border-width: 0 1px;
//     background-color: #fff;
// }

// .switch-group {
//   position: absolute;
//   width: 200%;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   transition: left 0.35s;
//   -webkit-transition: left 0.35s;
//   -moz-user-select: none;
//   -webkit-user-select: none;
// }

// .switch-on {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 50%;
//   margin: 0;
//   border: 0;
//   border-radius: 0;
// }
